[submodule "dev/ardupilot"]
	path = dev/ardupilot
	url = https://github.com/abisop/ardupilot.git
[submodule "plotjuggler-apbin-plugins"]
	path = ardupilot_tools/plotjuggler-apbin-plugins
	url = https://github.com/ArduPilot/plotjuggler-apbin-plugins.git
[submodule "dev/plotjuggler"]
	path = dev/plotjuggler
	url = https://github.com/PlotJuggler/PlotJuggler.git
[submodule "dev/ardupilot_gazebo"]
	path = dev/ardupilot_gazebo
	url = https://github.com/ArduPilot/ardupilot_gazebo
